In [1]:
import datetime

In [2]:
dt = datetime.datetime(year=2017,month=11,day=24,hour=10,minute=30)
dt

datetime.datetime(2017, 11, 24, 10, 30)

In [3]:
print (dt)

2017-11-24 10:30:00

In [4]:
import pandas as pd
ts = pd.Timestamp('2017-11-24')
ts

Timestamp('2017-11-24 00:00:00')

In [5]:
ts.month

11

In [6]:
ts.day

24

In [7]:
ts + pd.Timedelta('5 days')

Timestamp('2017-11-29 00:00:00')

In [8]:
pd.to_datetime('2017-11-24')

Timestamp('2017-11-24 00:00:00')

In [9]:
pd.to_datetime('24/11/2017')

/var/folders/8b/_jq932mj0xvf9snzr4htnw6h0000gn/T/ipykernel_18139/2511836769.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  pd.to_datetime('24/11/2017')

Timestamp('2017-11-24 00:00:00')

In [10]:
s = pd.Series(['2017-11-24 00:00:00','2017-11-25 00:00:00','2017-11-26 00:00:00'])
s

0    2017-11-24 00:00:00
1    2017-11-25 00:00:00
2    2017-11-26 00:00:00
dtype: object

In [11]:
ts = pd.to_datetime(s)
ts

0   2017-11-24
1   2017-11-25
2   2017-11-26
dtype: datetime64[ns]

In [12]:
ts.dt.hour

0    0
1    0
2    0
dtype: int32

In [13]:
ts.dt.weekday

0    4
1    5
2    6
dtype: int32

### 构建时间序列

In [15]:
pd.Series(pd.date_range(start='2023-11-14', periods=10, freq='12H'))

0   2023-11-14 00:00:00
1   2023-11-14 12:00:00
2   2023-11-15 00:00:00
3   2023-11-15 12:00:00
4   2023-11-16 00:00:00
5   2023-11-16 12:00:00
6   2023-11-17 00:00:00
7   2023-11-17 12:00:00
8   2023-11-18 00:00:00
9   2023-11-18 12:00:00
dtype: datetime64[ns]

### 格式化数据的时间基本操作

In [16]:
data = pd.read_csv('./data/flowdata.csv')
data.head()

                  Time   L06_347  LS06_347  LS06_348
0  2009-01-01 00:00:00  0.137417  0.097500  0.016833
1  2009-01-01 03:00:00  0.131250  0.088833  0.016417
2  2009-01-01 06:00:00  0.113500  0.091250  0.016750
3  2009-01-01 09:00:00  0.135750  0.091500  0.016250
4  2009-01-01 12:00:00  0.140917  0.096167  0.017000

In [18]:
data['Time'] = pd.to_datetime(data['Time'])
data = data.set_index('Time')
data.head()

                      L06_347  LS06_347  LS06_348
Time
2009-01-01 00:00:00  0.137417  0.097500  0.016833
2009-01-01 03:00:00  0.131250  0.088833  0.016417
2009-01-01 06:00:00  0.113500  0.091250  0.016750
2009-01-01 09:00:00  0.135750  0.091500  0.016250
2009-01-01 12:00:00  0.140917  0.096167  0.017000

In [24]:
data = pd.read_csv('./data/flowdata.csv', index_col=0, parse_dates=True)
data.head()

                      L06_347  LS06_347  LS06_348
Time
2009-01-01 00:00:00  0.137417  0.097500  0.016833
2009-01-01 03:00:00  0.131250  0.088833  0.016417
2009-01-01 06:00:00  0.113500  0.091250  0.016750
2009-01-01 09:00:00  0.135750  0.091500  0.016250
2009-01-01 12:00:00  0.140917  0.096167  0.017000

### 根据时间索引取片段

In [25]:
data[pd.Timestamp('2012-01-01 09:00'):pd.Timestamp('2012-01-01 19:00')]

                      L06_347  LS06_347  LS06_348
Time
2012-01-01 09:00:00  0.330750  0.293583  0.029750
2012-01-01 12:00:00  0.295000  0.285167  0.031750
2012-01-01 15:00:00  0.301417  0.287750  0.031417
2012-01-01 18:00:00  0.322083  0.304167  0.038083

In [26]:
data[('2012-01-01 09:00'):('2012-01-01 19:00')]

                      L06_347  LS06_347  LS06_348
Time
2012-01-01 09:00:00  0.330750  0.293583  0.029750
2012-01-01 12:00:00  0.295000  0.285167  0.031750
2012-01-01 15:00:00  0.301417  0.287750  0.031417
2012-01-01 18:00:00  0.322083  0.304167  0.038083

In [27]:
data.tail(5)

                      L06_347  LS06_347  LS06_348
Time
2013-01-01 12:00:00  1.710000  1.710000  0.129583
2013-01-01 15:00:00  1.420000  1.420000  0.096333
2013-01-01 18:00:00  1.178583  1.178583  0.083083
2013-01-01 21:00:00  0.898250  0.898250  0.077167
2013-01-02 00:00:00  0.860000  0.860000  0.075000

In [33]:
data['2012-01':'2012-12']

                      L06_347  LS06_347  LS06_348
Time
2012-01-01 00:00:00  0.307167  0.273917  0.028000
2012-01-01 03:00:00  0.302917  0.270833  0.030583
2012-01-01 06:00:00  0.331500  0.284750  0.030917
2012-01-01 09:00:00  0.330750  0.293583  0.029750
2012-01-01 12:00:00  0.295000  0.285167  0.031750
...                       ...       ...       ...
2012-12-31 09:00:00  0.682750  0.682750  0.066583
2012-12-31 12:00:00  0.651250  0.651250  0.063833
2012-12-31 15:00:00  0.629000  0.629000  0.061833
2012-12-31 18:00:00  0.617333  0.617333  0.060583
2012-12-31 21:00:00  0.846500  0.846500  0.170167

[2928 rows x 3 columns]

In [34]:
data[data.index.month == 1]

                      L06_347  LS06_347  LS06_348
Time
2009-01-01 00:00:00  0.137417  0.097500  0.016833
2009-01-01 03:00:00  0.131250  0.088833  0.016417
2009-01-01 06:00:00  0.113500  0.091250  0.016750
2009-01-01 09:00:00  0.135750  0.091500  0.016250
2009-01-01 12:00:00  0.140917  0.096167  0.017000
...                       ...       ...       ...
2013-01-01 12:00:00  1.710000  1.710000  0.129583
2013-01-01 15:00:00  1.420000  1.420000  0.096333
2013-01-01 18:00:00  1.178583  1.178583  0.083083
2013-01-01 21:00:00  0.898250  0.898250  0.077167
2013-01-02 00:00:00  0.860000  0.860000  0.075000

[1001 rows x 3 columns]

In [37]:
data[(data.index.hour >= 8) & (data.index.hour <=12)]

                      L06_347  LS06_347  LS06_348
Time
2009-01-01 09:00:00  0.135750  0.091500  0.016250
2009-01-01 12:00:00  0.140917  0.096167  0.017000
2009-01-02 09:00:00  0.141917  0.097083  0.016417
2009-01-02 12:00:00  0.147833  0.101917  0.016417
2009-01-03 09:00:00  0.124583  0.084417  0.015833
...                       ...       ...       ...
2012-12-30 12:00:00  1.465000  1.465000  0.086833
2012-12-31 09:00:00  0.682750  0.682750  0.066583
2012-12-31 12:00:00  0.651250  0.651250  0.063833
2013-01-01 09:00:00  2.055000  2.055000  0.175667
2013-01-01 12:00:00  1.710000  1.710000  0.129583

[2924 rows x 3 columns]

In [36]:
data.between_time('08:00','12:00')

                      L06_347  LS06_347  LS06_348
Time
2009-01-01 09:00:00  0.135750  0.091500  0.016250
2009-01-01 12:00:00  0.140917  0.096167  0.017000
2009-01-02 09:00:00  0.141917  0.097083  0.016417
2009-01-02 12:00:00  0.147833  0.101917  0.016417
2009-01-03 09:00:00  0.124583  0.084417  0.015833
...                       ...       ...       ...
2012-12-30 12:00:00  1.465000  1.465000  0.086833
2012-12-31 09:00:00  0.682750  0.682750  0.066583
2012-12-31 12:00:00  0.651250  0.651250  0.063833
2013-01-01 09:00:00  2.055000  2.055000  0.175667
2013-01-01 12:00:00  1.710000  1.710000  0.129583

[2924 rows x 3 columns]

### 时间的重采样
在 Pandas 中，`resample` 方法是一个非常有用的工具，用于对时间序列数据进行重新采样和频率转换。这个方法特别适用于处理时间序列数据，比如股票价格、气象数据等，它允许你将数据重采样到不同的时间频率上。
- `rule`：重采样频率，例如 'D' 代表每天，'M' 代表每月，'H' 代表每小时等。
- `on`：指定 DataFrame 中用于定义时间戳的列（如果时间戳不是索引的话）。
- `how`：指定重采样时如何聚合数据，例如 'sum'、'mean'、'max' 等。

In [41]:
import pandas as pd
import numpy as np

# 创建一个示例 DataFrame
rng = pd.date_range('2020-01-01', periods=100, freq='D')
df = pd.DataFrame({ 'date': rng, 'value': np.random.randn(len(rng)) })
df = df.set_index('date')
df

               value
date
2020-01-01  0.539080
2020-01-02  0.126181
2020-01-03 -1.336694
2020-01-04  0.574811
2020-01-05  0.014419
...              ...
2020-04-05  0.399628
2020-04-06  0.087052
2020-04-07  0.855043
2020-04-08 -0.559662
2020-04-09 -1.106415

[100 rows x 1 columns]

In [46]:
# 按照每月的平均值重新采样
monthly_resampled_data = df.resample('M').mean()
monthly_resampled_data

               value
date
2020-01-31  0.041147
2020-02-29 -0.154683
2020-03-31  0.019440
2020-04-30 -0.183931

In [38]:
data

                      L06_347  LS06_347  LS06_348
Time
2009-01-01 00:00:00  0.137417  0.097500  0.016833
2009-01-01 03:00:00  0.131250  0.088833  0.016417
2009-01-01 06:00:00  0.113500  0.091250  0.016750
2009-01-01 09:00:00  0.135750  0.091500  0.016250
2009-01-01 12:00:00  0.140917  0.096167  0.017000
...                       ...       ...       ...
2013-01-01 12:00:00  1.710000  1.710000  0.129583
2013-01-01 15:00:00  1.420000  1.420000  0.096333
2013-01-01 18:00:00  1.178583  1.178583  0.083083
2013-01-01 21:00:00  0.898250  0.898250  0.077167
2013-01-02 00:00:00  0.860000  0.860000  0.075000

[11697 rows x 3 columns]

### 重组

In [48]:
data.resample('D').mean()

             L06_347  LS06_347  LS06_348
Time
2009-01-01  0.125010  0.092281  0.016635
2009-01-02  0.124146  0.095781  0.016406
2009-01-03  0.113562  0.085542  0.016094
2009-01-04  0.140198  0.102708  0.017323
2009-01-05  0.128812  0.104490  0.018167
...              ...       ...       ...
2012-12-29  0.807604  0.807604  0.078031
2012-12-30  1.027240  1.027240  0.088000
2012-12-31  0.748365  0.748365  0.081417
2013-01-01  1.733042  1.733042  0.142198
2013-01-02  0.860000  0.860000  0.075000

[1463 rows x 3 columns]