In [1]:
import pandas as pd
import numpy as np
s = pd.Series(['A','b','B','gaer','AGER',np.nan])
s

0       A
1       b
2       B
3    gaer
4    AGER
5     NaN
dtype: object

In [2]:
s.str.lower()

0       a
1       b
2       b
3    gaer
4    ager
5     NaN
dtype: object

In [3]:
s.str.upper()

0       A
1       B
2       B
3    GAER
4    AGER
5     NaN
dtype: object

In [4]:
s.str.len()

0    1.0
1    1.0
2    1.0
3    4.0
4    4.0
5    NaN
dtype: float64

In [5]:
index = pd.Index(['  tang','  yu   ','di'])
index

Index(['  tang', '  yu   ', 'di'], dtype='object')

In [6]:
index.str.strip()

Index(['tang', 'yu', 'di'], dtype='object')

In [7]:
index.str.lstrip()

Index(['tang', 'yu   ', 'di'], dtype='object')

In [8]:
index.str.rstrip()

Index(['  tang', '  yu', 'di'], dtype='object')

In [9]:
df = pd.DataFrame(np.random.randn(3,2),columns = ['A a','B b'],index = range(3))
df

        A a       B b
0 -0.409036  1.645618
1  0.452279 -1.691215
2  0.392003  1.636844

In [10]:
df.shape

(3, 2)

### 字符串替换

In [12]:
df.columns = df.columns.str.replace(' ','_')
df

        A_a       B_b
0 -0.409036  1.645618
1  0.452279 -1.691215
2  0.392003  1.636844

In [13]:
s = pd.Series(['a_b_C','c_d_e','f_g_h'])
s

0    a_b_C
1    c_d_e
2    f_g_h
dtype: object

### 字符串切分

In [14]:
s.str.split('_')

0    [a, b, C]
1    [c, d, e]
2    [f, g, h]
dtype: object

In [16]:
s.str.split('_',expand = True) # expand=True转为DataFrame

   0  1  2
0  a  b  C
1  c  d  e
2  f  g  h

### 包含

In [17]:
s = pd.Series(['A','Aas','Afgew','Ager','Agre','Ager'])
s

0        A
1      Aas
2    Afgew
3     Ager
4     Agre
5     Ager
dtype: object

In [18]:
s.str.contains('Ag')

0    False
1    False
2    False
3     True
4     True
5     True
dtype: bool

### 转换成虚拟/指示变量（dummy variables）

In [19]:
# 创建一个包含分类数据的 Series
s = pd.Series(['red', 'green', 'blue', 'red'])

# 使用 get_dummies 进行转换
dummies = s.str.get_dummies()

print(dummies)

   blue  green  red
0     0      0    1
1     0      1    0
2     1      0    0
3     0      0    1

在这个示例中，每个唯一的颜色值（'red'、'green'、'blue'）都被转换成了一个新的列。如果某行的原始值为 'red'，则在 'red' 列中该行的值为 1，其他列（'green'、'blue'）中该行的值为 0。

#### 使用分隔符

In [23]:
s = pd.Series(['a','a|b','a|c'])
s

0      a
1    a|b
2    a|c
dtype: object

In [25]:
dummies = s.str.get_dummies(sep='|')
dummies

   a  b  c
0  1  0  0
1  1  1  0
2  1  0  1