In [2]:
import pandas as pd
df = pd.DataFrame([[1,2,3],[4,5,6]],index = ['a','b'],columns = ['A','B','C'])
df

   A  B  C
a  1  2  3
b  4  5  6

In [2]:
df.sum()

A    5
B    7
C    9
dtype: int64

In [3]:
df.sum(axis=1)

a     6
b    15
dtype: int64

In [4]:
df.sum(axis='columns')

a     6
b    15
dtype: int64

In [5]:
df.mean()

A    2.5
B    3.5
C    4.5
dtype: float64

In [6]:
df.mean(axis = 1)

a    2.0
b    5.0
dtype: float64

In [7]:
df.min()

A    1
B    2
C    3
dtype: int64

In [8]:
df.median()

A    2.5
B    3.5
C    4.5
dtype: float64

### 二元统计

In [9]:
df = pd.read_csv('./data/titanic.csv')
# df = df.set_index('Name')
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

### 相关性
- 目前报错了，还不知道为什么

In [6]:
df.corr()

ValueError: could not convert string to float: 'male'

In [10]:
df['Age'].value_counts()

Age
24.00    30
22.00    27
18.00    26
19.00    25
28.00    25
         ..
36.50     1
55.50     1
0.92      1
23.50     1
74.00     1
Name: count, Length: 88, dtype: int64

In [11]:
df['Age'].value_counts(ascending=True)

Age
74.0     1
14.5     1
70.5     1
12.0     1
36.5     1
        ..
30.0    25
19.0    25
18.0    26
22.0    27
24.0    30
Name: count, Length: 88, dtype: int64

In [13]:
df['Age'].value_counts(ascending=True, bins=4)

Age
(60.105, 80.0]      22
(40.21, 60.105]    128
(0.339, 20.315]    179
(20.315, 40.21]    385
Name: count, dtype: int64