In [2]:
import pandas as pd
# http://pandas.pydata.org/pandas-docs/stable/generated/pandas.set_option.html?highlight=set_option#pandas.set_option

In [3]:
pd.get_option('display.max_rows')

60

In [20]:
pd.set_option('display.max_rows',60)

In [7]:
pd.Series(index = range(0,100))

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
      ..
95   NaN
96   NaN
97   NaN
98   NaN
99   NaN
Length: 100, dtype: float64

In [8]:
pd.get_option('display.max_columns')

20

In [9]:
pd.set_option('display.max_columns',30)

In [10]:
pd.DataFrame(columns = range(0,30))

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
Index: []

In [11]:
pd.get_option('display.max_colwidth')

50

In [15]:
pd.set_option('display.max_colwidth',20)

In [16]:
pd.Series(index = ['A'],data=['t'*70])

A    tttttttttttttttt...
dtype: object

In [17]:
pd.get_option('display.precision')

6

In [18]:
pd.Series(data = [1.23456789236546])

0    1.234568
dtype: float64

In [19]:
pd.set_option('display.precision',2)
pd.Series(data = [1.23456789236546])

0    1.23
dtype: float64